@model Crud_FP.ViewModels.CompanyDetailViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flowpoint_Support_Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlsActive)
        </dd>
    </dl>
    
    <form asp-action="DeletePost" asp-route-id="@Model.ICompanyID">
        <input type="hidden" asp-for="ICompanyID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
